.tableContainer {
    flex: 1;
    margin: 16px !important;
}

.quantityField {
    width: 60px !important;
    margin: 0 8px !important;
}

.quantityField input {
    text-align: center;
}

.quantityInput {
    text-align: center;
}

.rightAlign {
    text-align: right !important;
}

.centerAlign {
    text-align: center !important;
}