.title {
    flex-grow: 1;
    font-weight: 600;
}

.logoutButton {
    background-color: #d32f2f;
    display: inline-block;
    color: white;
    font-size: large;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.logoutButton:hover {
    background-color: #b71c1c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}